<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Open Wizard"
            visible="true"
            id="it.polimi.deib.wizard.actionSet">
         <menu
               label="Open &amp;Wizard"
               id="openWizard">
            <separator
                  name="wizardGroup">
            </separator>
         </menu>
        
          <action
               label="&amp;Preferencies..."
               class="it.polimi.deib.dspace.actions.DSpaceAction"
               tooltip=""
               menubarPath="openWizard/wizardGroup"
               id="it.polimi.deib.wizard.actions.Preferencies">
         </action>
         <action
               label="&amp;Open Wizard"
               icon="icons/sample.gif"
               class="it.polimi.deib.dspace.actions.DSpaceAction"
               tooltip=""
               menubarPath="openWizard/wizardGroup"
               toolbarPath="Normal/wizardGroup"
               id="it.polimi.deib.wizard.actions.Start">
         </action>
         <action
               label="&amp;Show Public Results"
               icon="icons/sample.gif"
               class="it.polimi.deib.dspace.actions.DSpaceResult"
               tooltip=""
               menubarPath="openWizard/wizardGroup"
               toolbarPath="Normal/wizardGroup"
               id="it.polimi.deib.wizard.actions.Result">
         </action>
         <action
               label="&amp;Show Private Results"
               icon="icons/sample.gif"
               class="it.polimi.deib.dspace.actions.DSpacePrivateResult"
               tooltip=""
               menubarPath="openWizard/wizardGroup"
               toolbarPath="Normal/wizardGroup"
               id="it.polimi.deib.wizard.actions.PrivateResult">
         </action>
         
      </actionSet>
   </extension>
    <extension point="org.eclipse.ui.startup">
     <startup class="it.polimi.deib.dspace.startup.StartUpThread"/>
   </extension>

</plugin>
