<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="D-S4C"
            visible="true"
            id="it.polimi.diceH2020.plugin.actionSet">
         <menu
               label="D-SPACE4&amp;Cloud"
               id="openWizard">
            <separator
                  name="wizardGroup">
            </separator>
         </menu>
        
          <action
               label="Pr&amp;eferences"
               class="it.polimi.diceH2020.plugin.actions.DSpaceAction"
               tooltip=""
               menubarPath="openWizard/wizardGroup"
               id="it.polimi.diceH2020.plugin.actions.Preferences">
         </action>
         <action
               label="Show &amp;Public Results"
               icon="icons/resultsIcon.png"
               class="it.polimi.diceH2020.plugin.actions.DSpaceResult"
               tooltip=""
               menubarPath="openWizard/wizardGroup"
               toolbarPath="Normal/wizardGroup"
               id="it.polimi.diceH2020.plugin.actions.Result">
         </action>
         <action
               label="Show P&amp;rivate Results"
               icon="icons/privateResultsIcon.png"
               class="it.polimi.diceH2020.plugin.actions.DSpacePrivateResult"
               tooltip=""
               menubarPath="openWizard/wizardGroup"
               toolbarPath="Normal/wizardGroup"
               id="it.polimi.diceH2020.plugin.actions.PrivateResult">
         </action>
         <action
               label="Optimization &amp;Wizard"
               icon="icons/simulateIcon.png"
               class="it.polimi.diceH2020.plugin.actions.DSpaceAction"
               tooltip=""
               menubarPath="openWizard/wizardGroup"
               toolbarPath="Normal/wizardGroup"
               id="it.polimi.diceH2020.plugin.actions.Start">
         </action>
         
      </actionSet>
   </extension>
    <extension point="org.eclipse.ui.startup">
     <startup class="it.polimi.diceH2020.plugin.startup.StartUpThread"/>
   </extension>

</plugin>
