<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	
	<!-- Startup --> 
    <extension point="org.eclipse.ui.startup">
     <startup class="it.polimi.diceH2020.plugin.startup.StartUpThread"/>
   </extension>
   
   <!-- Preference Page --> 
    <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.dice.ui.preferences"
            class="it.polimi.diceH2020.plugin.preferences.PreferencesPage"
            id="it.polimi.diceH2020.plugin.preferences"
            name="D-SPACE4Cloud Plugin">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="it.polimi.diceH2020.plugin.preferences.PreferencesInitializer">
      </initializer>
   </extension>
   
   <!-- Menu --> 
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.dice.menu.tools">
         <menu
               icon="icons/simulateIcon.png"
               id="it.polimi.diceH2020.plugin.ui.menus.diceOptimizationMenu"
               label="DICE Optimization Tool">
            <command
                  commandId="it.polimi.diceH2020.plugin.ui.commands.dspaceOptimizationWizardCommand"
                  icon="icons/simulateIcon.png"
                  label="Optimization Wizard"
                  style="push">
            </command>
            <command
                  commandId="it.polimi.diceH2020.plugin.ui.commands.dspaceResultCommand"
                  icon="icons/simulateIcon.png"
                  label="Show Public Results"
                  style="push">
            </command>
            <command
                  commandId="it.polimi.diceH2020.plugin.ui.commands.dspacePrivateResultCommand"
                  label="Show Private Results "
                  icon="icons/privateResultsIcon.png"
                  style="push">
                  
            </command>
         </menu>
      </menuContribution>
   </extension>
   
	<!-- Command Handlers --> 
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="it.polimi.diceH2020.plugin.ui.handlers.DSpaceOptimizationWizardHandler"
            description="Launches optimization wizard"
            id="it.polimi.diceH2020.plugin.ui.commands.dspaceOptimizationWizardCommand"
            name="Optimization Wizard">
      </command>
      <command
            defaultHandler="it.polimi.diceH2020.plugin.ui.handlers.DSpaceResultHandler"
            description="Show Public Results"
            id="it.polimi.diceH2020.plugin.ui.commands.dspaceResultCommand"
            name="Public Results">
      </command>
      <command
            defaultHandler="it.polimi.diceH2020.plugin.ui.handlers.DSpacePrivateResultHandler"
            description="Show Private Results"
            id="it.polimi.diceH2020.plugin.ui.commands.dspacePrivateResultCommand"
            name="Private Results">
      </command>
   </extension>

</plugin>
